@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    
}
.parallaxbg {
    /* Imagem do parallax */
    background-image: url('../Assets/cachoeira_caracol-brasil_parallax.jpg');
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60vh;
    padding-bottom: 50vh; 
    
}

.sobre {
    display: flex;
    overflow: hidden;
    background-color: rgba(247, 240, 240, 0.5);
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sobreBlendTour {
    display: flex;
    overflow: hidden;
}

.sobreBlendTour h1 {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
    margin-left: 100px;
}

.sobreBlendTour article p {
    padding: 30px 100px;
    font-size: 17px;
    text-align: justify;
    min-width: 70%;
}

.sobreBlendTour figure img {
    /* display: flex; */
    max-width: 600px;
    max-height: 398px;
    min-width: 400px;
    min-height: 225px;
    width: auto;
    height: auto;
    margin: 30px 80px 0 0 ;

}

.equipeBlendTour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    /* border: 4px solid blue; */
}

.cardPessoa {
    display: flex;
    max-width: 40vw;
    flex-wrap: wrap;
}

.cardPessoa figure {
    /* A ideia é usar vetor PHP para atribuir as imagens e texto */
    /* background-image: url("../Assets/Pessoas/pessoa1.jpg"); */
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: circle(40%);
}

.cardPessoa article {
    width: 50%;
    padding: 20px 5px;
}

.cardPessoa h4,
.cardPessoa p {
    margin: 5px;
    text-align: justify;
}

#eqpHeading {
    width: 100vw;
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
}

#contato {
    margin: 50px 50px;
}

#contato h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 65px; 
    margin: 50px;
    flex-wrap: wrap;
}

#contatoForm {
    display: flex;
    flex-direction: column;
    width: 35%;
}    

#contatoForm input {
    margin: 8px 0;
    height: calc(1.5em + .75rem + 2px);
}

#contatoForm textarea {
    height: 10vh;
    margin: 8px 0;
}

.btnContato {
    margin-top: 8px;
    width: 50px;
    height: calc(1.5em + .75rem + 10px);
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    background: #4A2AEB 0% 0% no-repeat padding-box;
}

.areaContato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.endereco {
    margin-right: 50px;
}


#sobreLink {
    color: #fff;
    font-size:19px;
    text-decoration: none
}

#equipeLink {
    color: #fff;
    text-decoration: none;
}

#contatoLink {
    color: #fff;
    text-decoration: none;
}

#faqLink {
    color: #fff;
    text-decoration: none;
}

/* CSS para funcionamento da FAQ como sanfona */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    overflow-wrap: break-word;
  }
  
  /* Adiciona a cor de fundo e caso o botao clicado adiciona o .active class usando o javascript */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Estilo do painel */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin: 20px 0;
    overflow-wrap: break-word;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  button.accordion {
      font-weight: 700;
      font-size: 16px;
  }

  #faq h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 65px;
      margin: 50px;
  }

  #faq {
      margin: 0 200px 100px;
  }

  /*--------------------------------RESPONSIVIDADE------------------------------*/
  /* Large */

  @media only screen and (max-width: 992px) {
    /* .sobreBlendTour figure {
        width: 100%;
    } */

    .sobreBlendTour {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
      .sobreBlendTour figure img {
        max-width: 400px;
        max-height: 225px;
        min-width: 300px;
        min-height: 150px;
        width: auto;
        height: auto;
        margin: 50px 0 0 0 ;
    }

    .sobreBlendTour h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        margin-left: 100px;
    }

    #eqpHeading,
    #contato h1,
    #faq h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
    }

    #contatoForm  {
        width: 80%;
    }

    .endereco {
        margin-top: 50px;
    }

    #faq {
        margin: 0 80px 80px;
    }

    .sobreBlendTour article p {
        padding: 50px;
    }

  }

@media only screen and (max-width: 767px) {

    #contatoForm  {
        width: 80%;
    }

    .endereco {
        width: 100%;
        margin: 25px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .endereco iframe {
        width: 380px;
        height: 165px;        
    }

    #faq {
        margin: 0 80px 80px;
    }

    .cardPessoa {
        margin-left: 50px;
        max-width: 80vw;
    }

    .sobreBlendTour article p {
        padding: 50px;
    }
    
}

@media only screen and (max-width: 576px) {

    .cardPessoa {
        max-width: 80vw;
    }

    #faq {
        margin: 0 50px 50px;
    }
    
}

@media only screen and (min-width:375px) and (max-width:414px){
    .sobreBlendTour article p {
        padding: 50px;
    }

    #faq {
        margin: 0 15px 40px;
    }

    #contatoForm  {
        width: 95%;
    }

    .cardPessoa {
        max-width: 95vw;
        margin: 0;
    }
}

@media only screen and (min-width: 1360px) and (max-width:1366px){
    #contatoForm textarea {
        height: 30vh;
    }
    .equipeBlendTour {
        justify-content: space-evenly;
    }

    
}